{% extends "layout.html" %}
{% block body %}

<h1>Administrate {{ phone | phoneFmt }}</h1>

<form method="post" action="/admin/update" class="form-horizontal">
  {{ csrf | csrfElement }}
  <div>
    <input name="email" type="email" class="input-large" placeholder="user@example.org">
    <input type="submit" value="Add administrator" class="btn btn-primary">
  </div>
</form>

<hr>

{% if admins.length %}
<h2>Current Admins</h2>
  <ul>
    {% for admin in admins %}
    <li>{{ admin.email }}</li>
    {% endfor %}
  </ul>
</h3>
{% endif %}

{% endblock %}
