{% extends "layout.html" %}
{% block body %}

<h1>Administrate {{ phone | phoneFmt }}</h1>

<form method="post" action="/admins" class="form-horizontal">
  {{ csrf | csrfElement }}
  <div>
    <input name="email" type="email" class="input-large" placeholder="user@example.org">
    <input type="submit" value="Add administrator" class="btn btn-primary">
    <span class="help-block">
      Adds them to the admin list. This does <strong>not</strong>
      automatically email them – you'll have to notify them some way.
    </span>
  </div>
</form>

<hr>

{% if admins.length %}
<h2>Current Admins</h2>
  <ul>
    {% for admin in admins %}
    
    {% if admin.id != currentAdmin.id and admin.hasAccess("admin") %}
    <li>
      {{ admin.email }}
      <form method="post" action="/admin/{{ admin.id }}" class="js-modify-admin-form">
        {{ csrf | csrfElement }}
        <input type="hidden" class="js-form-method" name="_method" value="post">
        <input type="hidden" name="level" value="owner">
        
        <input
           type="submit"
           value="remove"
           class="btn btn-link btn-small js-action-button"
           data-method="delete">
        |
        {% if admin.level != "owner" %}
          <input
             type="submit"
             value="promote"
             class="btn btn-link btn-small js-action-button"
             data-method="patch">
        {% else %}
          owner
        {% endif %}
      </form>
    </li>
    
    {% endif %}
    
    {% endfor %}
  </ul>
</h3>
{% endif %}

{% block footer %}
<script src="/js/admin.js"></script>
{% endblock %}

{% endblock %}
