{% extends "layout.html" %}
{% block body %}

<h1>Send an Announcement</h1>
<form method="post" action="?" class="announcement">
  {{ csrf | csrfElement }}
  <div>
    <textarea id="message" name="message" maxlength="160" data-countdown='yes'></textarea>
  </div>
  <p>
    Note: It will take about {{ subscribers.length }} seconds
    for the message to propagate through all the subscribers.
  </p>
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="Announce">
  </div>
</form>

{% endblock %}
