{% extends "layout.html" %}
{% block "body" %}

<h1>Incoming Messages</h1>
<ul>
{% for message in messages %}
<li class="message">
  <p>
    From <code>{{ message.from | phoneFmt }}</code> on <strong>{{ message.date | dateFmt }}</strong>
  </p>
  <div class="well">
    <div class="actions">
      <form method="get" action="/message/{{ message.id }}/">
        <button class="btn btn-small btn-primary">Reply</button>
      </form>
      
      <form method="post" action="/message/{{ message.id }}">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-small">Dismiss</button>
      </form>
    </div>
    
    {{ message.body }}
    
    <br style="clear: both;">
  </div>
</li>
{% endfor %}

{% endblock %}
