{% extends "layout.html" %}
{% block "body" %}
<h1>Inject a new test message</h1>
<form method="post" action="">
  <div>
    <label for="from">From</label>
    <input type="text"
           id="from"
           name="from"
           placeholder="18008675309"
           pattern="[0-9]{11}"
           required>

    <label for="body">Body</label>
    <input type="text"
           id="body"
           name="body"
           placeholder="oh hey"
           required>
  </div>
  <div class="form-actions"> 
    <input type="submit" class="btn btn-primary" value="Save">
  </div>
</form>

{% endblock %}
