body { padding-top: 60px; }

form.announcement textarea {
  font-size: 18px;
  line-height: 24px;
  width: 400px;
  height: 120px;
}

.message .actions {
  float: right;
  padding-left: 8px;
  margin-left: 8px;
  border-left: 1px solid #ddd;
}

.message .actions button {
  width: 60px;
}

.message form {
  display: inline;
}