body { padding-top: 60px; }

.main-message-list {
  list-style: none;
  margin: 0;
}
.main-message-list h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #999;
}
.main-message-list h2 .date {
  color: #444;
}

.alert-error::before {
  content: "Oh no!";
  font-weight: bold;
}
.alert-info::before {
  content: "Heads up!";
  font-weight: bold;
}
.alert-success::before {
  content: "Nice!";
  font-weight: bold;
}


form.announcement textarea,
form.reply textarea {
  font-size: 18px;
  line-height: 24px;
  width: 400px;
  height: 120px;
}

.message .actions {
  float: right;
  padding-left: 8px;
  margin-left: 8px;
  border-left: 1px solid #ddd;
}

.message .actions button {
  width: 60px;
}

.message .actions form {
  display: inline;
}

.reply-form {
  float: right;
}
.reply-form .reply-field {
  width: 480px
}

.message-log {
  clear: both;
  list-style: none;
  background: #eee;
  padding: 15px 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.message-log li {
  padding: 5px 20px 5px 20px;
}

.message-log li.direction-outgoing {
  text-align: right;
}

.message-log li.type-announcement,
.message-log li.type-subscribe,
.message-log li.type-unsubscribe {
  background: #ddd;
  text-align: center;
  font-size: 12px;
}

.message-log li::before {
  font-weight: bold;
  color: #aaa;
}

/** define basics first */
.message-log li.direction-outgoing::before {
  color: #daa;
  content: 'Response';
}
.message-log li.direction-incoming::before {
  color: #aad;
  content: 'Incoming';
}

/** override with more specific */
.message-log li.type-announcement::before {
  color: #aaa;
  content: 'Announcement';
}
.message-log li.type-subscribe::before {
  color: #aaa;
  content: 'Subscribed  to announcements';
}
.message-log li.type-unsubscribe::before {
  color: #aaa;
  content: 'Unsubscribed to announcements';
}

.message-log li.type-unsubscribe p,
.message-log li.type-subscribe p {
  display: none;
}

.message-log li .date {
  font-size: 13px;
  color: #999;
}

